<!DOCTYPE html>

<html>


	<head>
		<title>bitString Prototype</title>
		<meta charset="utf-8">
		<!--libraries-->
		<script src="https://unpkg.com/vue"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.js"></script>
		<link href="style.css" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
	</head>


	<body>
		<h1>bitString Prototype</h1>

		<div id="root">

			<div class="grid-container">
				
				<div class="grid-item-fundamental-controls">
					<div id="pitch-title">
						<h2>Pitch</h2>
					</div>

					<div id="mute-button-wrapper">
						<div id="mute-button">
							<button @click="muteSound">{{ muteLabel(sound.mute) }}</button>
						</div>
					</div>

					<div id="fundamental-wrapper">
						<div id="fundamental">
							<!--setting fundamental frequency-->
							<h3>Fundamental Frequency Slider</h3>
							<input class="slider" type="range" min="100" max="1000" step="1" v-model="sound.fundamental"></input>
							<br>
							<div id="freqset">
								Set Frequency: <input v-model="sound.fundamental"></input> Hz.
							</div>
							
						</div>
					</div>
				</div>

				<!--keyboard to set fundamental frequencies-->
				<div class="grid-item-keyboard">
					<div id="keyboard-wrapper">
						<div id="keyboard">
							<div v-for="note in notes" :class="note.class" :id="note.id" @click="noteToFreq"></div>
						</div>
					</div>
				</div>

				<div class="grid-item-sliders">

					<!--THIS DOES NOT NEED TO BE A FRICKIN LIST-->
					<div id="pitch-sliders" @mousedown="mousePressed" @mouseup="mouseReleased">
						<!--sliders for each harmonic-->
						<ul>
							<li v-for="partial in sound.spectrum">{{ (sound.fundamental * partial.fMult).toFixed(2) }} hz.
								<input class="slider" type="range" min="0" max="1" step="0.01" v-model="partial.amp"></input>
								<!--<slider class="slider" min="0" max="1" step="0.01" 
									v-model="partial.amp" :mouse-is-pressed="mouseIsPressed"></slider>-->
								multiplier: <input v-model="partial.fMult"></input>
								amp: {{ (parseFloat(partial.amp)).toFixed(2) }}
							</li>
						</ul>
					</div>
				</div>

				<div class="grid-item-p5">
					<div id="p5-wrapper">
						<div id="p5">
							<!--p5 sketch and sound based on pitch data-->
							<p5 src="sound.js" :data="sound"></p5>
							<p5 src="spectrogram.js" :data="sound"></p5>
						</div>
					</div>
				</div>

				<div class="grid-item-waveform">
					<div id="p5-wrapper">
						<div id="waveform">
							<p5 src="waveform.js" :data="sound"></p5>
						</div>
					</div>
				</div>

			</div>

		</div>

	</body>
	

	<script src="vue-definitions.js"></script>

</html>
