<!DOCTYPE html>

<html>

	<head>
		<!--libraries-->
		<script src="https://unpkg.com/vue"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.js"></script>

	</head>

	<body>

		<div id="pitch">

			<!--setting fundamental frequency-->
			<h1>Fundamental Frequency Slider</h1>
			<input type="range" min="200" max="600" step="1" v-model="sound.fundamental"></input>
			<br>
			Set Frequency: <input v-model="sound.fundamental"></input>
			<h2>The fundamental frequency is {{ sound.fundamental }}.</h2>
			<h3>Press "m" to toggle sound on and off.</h3>


			<!--sliders for each harmonic-->
			<ul>
				<li v-for="harm in sound.harmData">
					{{ (sound.fundamental * harm.fMult).toFixed(2) }} hz.
					<input type="range" min="0" max="1" step="0.01" v-model="harm.amp"></input>
					set multiplier: <input v-model="harm.fMult"></input>
					 amplitude: {{ harm.amp }}
				</li>
			</ul>


			<!--p5 sketch and sound based on pitch data-->
			<p5 src="sketch.js" :data="sound"></p5>

		</div>

	</body>

	<script src="vue-definitions.js"></script>

</html>
